:root{
--text: #746857;
--background: #fbedda;
--primary: #d8be91;
--secondary: #30522d;
--accent: #437a56;


--accent-filter: invert(41%) sepia(59%) saturate(297%) hue-rotate(88deg) brightness(88%) contrast(90%);
}
body.dark-mode { 

--text: #faead1;
--background: #381505;  
--accent: #508f66;
  
}

header{  
  position: fixed;
  height: 50px;      
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;  
  
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;

}
#logo{
  color: var(--accent);
  text-decoration: inherit;
  font-size:2em;
  background-color: var(--primary);
  border-radius: 5px;
  padding: 5px;
}

#header-middle{
  justify-content: space-around;
  align-items: center;  
  flex-direction: row;  
  border-bottom: none;
  background-color: var(--primary);
  border-radius: 5px;
  padding: 5px;
  

}

.link-icon img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  filter: var(--accent-filter);
  
}

.link-icon:hover img {  
  animation: tilt 0.8s infinite;
  
}
@keyframes tilt {
  0% {
      transform: scale(1.1) rotate(0deg);
  }
  25% {
      transform: scale(1.1) rotate(-10deg);
  }
  50% {
      transform: scale(1.1) rotate(10deg);
  }
  75% {
      transform: scale(1.1) rotate(-10deg);
  }
  100% {
      transform: scale(1.1) rotate(0deg);
  }
}
a{
  text-decoration: none;
}

#header-right{
  background-color: var(--primary);
  border-radius: 5px;
  padding: 5px;
}
.page-links{
  color: var(--accent);
  text-decoration: inherit;
  transition: transform 0.3s ease;
  font-size:1em;
  
}

.page-links:hover{
  color: var(--secondary);  
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--background);    
  transition: background-color 0.5s, color 0.5s;
  margin: 0%;  
  display: flex;
}
main {  
    
  margin: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
    
}
#header-right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#my-name {       
    font-size: 3em;
    color: var(--text);    
    text-align: center;
}

#hello {
    font-size: 5em;
    text-align: center;
    color: var(--accent);
}

h3{
  font-size: 3em;
  color: var(--accent);  
  text-align: center;
  
}
h4{
  font-size: 1.5em;
  text-align: center; 
  color: var(--text);
  margin: 10px;
}
#greetings-text{
  padding: 20vh 0;
  width: 100%;  
  text-align: center;
}
#loves-container{
  display: flex;
  align-items: center;  
  justify-content: center;
  height: 5vw; 
}
@keyframes shake {
  0% { transform: translate(10px, 0); }
  20% { transform: translate(0, 0); }
  40% { transform: translate(0, 0); }
  60% { transform: translate(0, 0); }
  95% { transform: translate(10px, 0); }
  100% { transform: translate(10px, 0); }
}

#loves{
  animation: shake 2s infinite;
  color: var(--accent);  
  text-align: center;
  width: 5vw;
  z-index: 1; 
}
#who-text{  
  margin-right: 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent);
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--background);
}
input:checked + .slider:before {
  transform: translateX(26px);
}


.section {
  display: flex;
  flex-direction: column;
  height: 90vh;   
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out; 
  
}
.section.invisible {
  opacity: 0;
}

.carousel {
  width: 60vw;
  height: 60vh;    
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  border-radius: 10px;
  border-width: 3px;
  border-color: #30522d;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  padding: 10px;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.car {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  
}

.car[data-active] {
  opacity: 1;
  z-index: 1;
  
}
#project-button-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.carousel-button {
  
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button.prev {
  position: relative;
  
}

.carousel-button.next {
  
  position: relative;
}

.car-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 60vh;
  width: 60vw;
  
  
}

.project-title{
  grid-column:  1;
  grid-row: 1;
  font-size: 2em;
  color: var(--accent);
  align-self: center;
  justify-self: center;
  text-align: center;
}

.project-description{
  grid-column:  1;
  grid-row: 2/4;
  color: var(--text);
  
  
  text-align: center;
  justify-self: center;
}
.project-skills{
  grid-column:  1/ 3;
  grid-row: 4;
  color: var(--secondary);
  padding: 2px;
  background-color: var(--primary);
  transition: background-color 0.5s, color 0.5s;
  align-self: center;
  justify-self: center;
  padding: 10px;
  border-radius: 10px;
}
.project-img{
  grid-column: 2/4;
  grid-row: 1/4;  
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: end;
  border: thick double var(--accent);
  border-radius: 10px;
  

}
.project-link{
  grid-column: 3;
  grid-row: 4;
  justify-self: end;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: center;
  align-self: center;
  height: 20px;
  width: 180px;
  background-color: var(--primary);
  transition: background-color 0.5s, color 0.5s;
  padding: 10px;
  border-radius: 10px;

}

.project-visit{
  color: var(--accent);
}



#snake-gameboard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#game-text{
  color: var(--text);
  font-size: smaller;
  animation: blinker 2s linear infinite;
  width: 300px;
  height: 50px;  
}

#snake-minigame{
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;  
}
#snake-controllers{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.game-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px; 
  background-color: var(--primary);
  border-radius: 50px;
  text-align:left;
  color: var(--accent);
}
.game-buttons:hover{
  background-color: var(--background);
}
